################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/HttpReports.Web/bin/Debug/netcoreapp2.2
/.vs/HttpReportsWeb
/HttpReports.Web/obj
*.user
/HttpReports.Web/bin/Release/netcoreapp2.2
