
@{
      Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="panel panel-default">

        <div class="panel-body" style="padding-left:30px;padding-right:30px;padding-top:30px;min-height:720px;padding-bottom:30px">

            <div class="row">

                <div class="panel panel-default">
                    <div class="panel-body" style="padding-bottom:20px">

                        <a href="/Home/AddMonitor">添加</a>   

                    </div>
                </div>

            </div>

        </div>

    </div> 

